@import '../../styles/variables.scss';

.productList {
  width: 80%;
  display: block;
  margin: 0 auto;

  &__wrapper {
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // column-gap: 10px;
    // row-gap: 20px;
  }
}