@import '../../styles/variables.scss';

.logo {
  padding: 5px 10px;
  margin-left: 30px;
  background-color: $bgBrown;
  border-radius: 5px;
  color: $bgWhite;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0 5px 7px $text;
  transition: all 0.5s;
}