.logo {
  padding: 5px 10px;
  margin-left: 30px;
  background-color: rgb(227, 235, 63);
  border-radius: 5px;
  color: #1c1c1c;
  font-weight: 700;
  box-shadow: 0 5px 7px grey;
  transition: all 0.5s;
}