@import '../../styles/variables.scss';

.nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 30px;

  & a {
    font-size: 20px;
    font-weight: 500;
    color: $bgWhite;
    text-shadow: 1px 3px 3px $text;
    transition: all 0.5s;

    &:hover {
      transform: translateY(-2px);
    }
  }
}