.header {
  background-color: #fff;
  height: 10vh;
  box-shadow: 0 5px 15px #f5f5f5;
  align-items: center;
  display: flex;
  justify-content: space-between;


  &__title {
    position: relative;
    color: #c4c4c4;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

}