.header {
  height: 8vh;
  align-items: center;
  display: flex;
  justify-content: space-between;


  &__title {
    position: relative;
    color: #c4c4c4;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

}